{% extends 'base.html' %}
{% load static %}
{% block title %}{{ data.name }}{% endblock %}
{% block t1 %}Подробное описание аудитории{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/long_description.css' %}">
<div class="space">
    <div class="classroom">
        <img src="{{ data.image }}" class="image">
        <div class="info">
            <p class="title">{{ data.name }}</p>
            <div class="address">
                <span><b>АДРЕС:</b></span>
                <span>{{ data.short_description }}</span>
            </div>
            <ul>
                {% for line in data.description %}
                <li>{{ line }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
